Likelihood/

.venv/
COM_CosmoParams_fullGrid_R3.01
hlpTT_lowT/
hlpTT_lowT_Ok/
s2wav/
Useless/
Comp_Graphs/



# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.synctex
*.synctex.gz
*.fls
*.fdb_latexmk
*.ilg
*.ind
*.idx
*.xdy
*.glo
*.gls
*.glg
*.ist
*.dvi
*.ps
*.nav
*.snm
*.vrb
*.nlo
*.nls
*.mw
*.lec
*.sty
*.cls

# Jupyter notebooks
Acleannote.ipynb
#CleanPlanck.ipynb
CMB.ipynb
slimplanck.ipynb
#compact_planck.ipynb

# Jupyter notebook outputs
CleanPlanck_files/
CleanPlanck.html
CleanPlanck.md
