Likelihood/
__pycache__/
.venv/
COM_CosmoParams_fullGrid_R3.01
hlpTT_lowT/
hlpTT_lowT_Ok/
s2wav/
Useless/
Comp_Graphs/
/Planck_Data/*


!/Planck_Data/base/
!/Planck_Data/base_omegak/
/Planck_Data/base/*
/Planck_Data/base_omegak/*

!Planck_Data/base_omegak/CamSpecHM_TT_lowl_lowE/
!Planck_Data/base_omegak/plikHM_TTTEEE_lowl_lowE/
!Planck_Data/base/CamSpecHM_TT_lowl_lowE/
!Planck_Data/base/plikHM_TT_lowl_lowE/

neorg/
*zip


# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.synctex
*.synctex.gz
*.fls
*.fdb_latexmk
*.ilg
*.ind
*.idx
*.xdy
*.glo
*.gls
*.glg
*.ist
*.dvi
*.ps
*.nav
*.snm
*.vrb
*.nlo
*.nls
*.mw
*.lec
*.sty
*.cls
*.xml
*blx.bib

# Jupyter notebooks
*.ipynb

# Jupyter notebook outputs
CleanPlanck_files/
CleanPlanck.html
CleanPlanck.md

# Ignore Python files except main.py and files in functions/
*.py
!main.py
!functions/
!functions/*.py
!functions/**/*.py

*.pdf 
*.tex 
!Paper/Paper.pdf
!Paper/Paper.tex
# 1. Ignore all contents of the runs directory
run*/**/*

# 2. Allow the run folder structure itself (so Git can look inside)
!runs/*/

# 3. Specifically allow the files and directories you want to keep
!runs/*/config.yml
!runs/*/theory_bestfit/
!runs/*/theory_mcmc/
!runs/*/tables/

# 4. Handle the nested pdf inside tables/ while ignoring other latex junk
# Ignore everything in tables first...
runs/*/tables/*
# ...then allow only all_results.pdf
!runs/*/tables/all_results.pdf

# 5. Allow all contents inside the theory folders
!runs/*/theory_bestfit/**
!runs/*/theory_mcmc/**

# MAPS
*.fits

